<div class="card">
    <div class="card-body">
        <h4>Categorias: </h4>
        <hr>
        {{#each categorias}}
            <a href="/categorias/{{slug}}"><h6>{{nome}}</h6></a>
        {{else}}
            Nenhuma Categoria
        {{/each}}
    </div>
</div>