<div class="card">
    <div class="card-body">
        <h1>{{postagens.titulo}}</h1>
        <hr>
        {{postagens.conteudo}}
        <hr>
        <small>Data de Publicação: {{postagens.data}}</small>
    </div>
</div>